.fenceButton {
  display: inline-flex;
  border: 0px;
  color: #22122d;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  padding: 19px 24px;
  border-radius: 16px;

  cursor: pointer;

  justify-content: center;

  flex-grow: 1;

  &_half50 {
    width: 50%;
  }

  &_primary {
    background: #fdbf50;
  }
  &_secondary {
    background: rgba(34, 18, 45, 1);
    color: #fff;
  }

  &_outlined {
    border: 1px solid #fdbf50;
    background: #fff;
  }
  & svg {
    vertical-align: middle;
    margin-left: 5px;
  }
}

.fenceFlatButton {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  background: rgba(34, 18, 45, 1);

  display: inline-flex;
  align-items: center;
  border: 0px;
  background-color: #fff;

  & svg {
    padding-right: 10px;
  }
}
