.fenceButton {
  display: flex;

  &_primary a {
    text-decoration: none;
    color: #22122d;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    padding: 19px 24px;
    border-radius: 16px;
    background: #fdbf50;
  }

  &_outlined a {
    text-decoration: none;
    color: #22122d;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    padding: 19px 24px;
    border-radius: 16px;
    border: 1px solid #fdbf50;
    background: #fff;
  }
  a svg {
    vertical-align: middle;
    margin-left: 5px;
  }
}
