.fenceButton {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  border: 0px;
  color: #22122d;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  padding: 19px 24px;
  border-radius: 16px;

  cursor: pointer;

  flex-grow: 1;

  &_half50 {
    width: 50%;
    @media screen and (max-width: "479px") {
      width: 100%;
    }
  }

  &_primary {
    border: 1px solid #fdbf50;
    background-color: #fdbf50;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: rgba(253, 191, 80, 0.5);
    }
  }

  &_secondary {
    background: rgba(34, 18, 45, 1);
    color: #fff;

    border: 1px solid rgba(34, 18, 45, 1);
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: rgba(34, 18, 45, 0.8);
    }
  }

  &_outlined,
  &_outlined:hover {
    border: 1px solid #fdbf50;
    background: #fff;
  }

  &_outlined:hover {
    background-color: #fdbf50;
  }

  &_small {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

    padding: 12px 32px 12px 32px;

    border-radius: 8px;
  }
}

.fenceFlatButton {
  @media screen and (max-width: "479px") {
    font-size: 16px;
    padding-left: 0;
  }
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  background: rgba(34, 18, 45, 1);

  display: inline-flex;
  align-items: center;
  border: 0px;
  background-color: #fff;

  & svg {
    padding-right: 10px;
  }
}
