.fenceSection {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  gap: 16px;

  &_flexRow {
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: "479px") {
      flex-direction: column;
    }
  }

  &__header3 {
    color: #22122d;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-wrap: nowrap;
  }

  &__line {
    border-bottom: 1px solid #eaeaea;
    align-self: stretch;
  }

  input {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::placeholder {
      color: #919399;
    }
  }

  &_twoColumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;

    @media screen and (max-width: "479px") {
      flex-wrap: nowrap;
      flex-shrink: 1;
      gap: 20px;
    }

    & div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media screen and (max-width: "479px") {
        width: 45%;
      }
    }

    & input {
      border-radius: 16px;
      border: 1px solid #eaeaea;
      background: #f9f9f9;
      padding: 19px 17px 19px 20px;
      align-self: stretch;
    }

    & input[data-error="true"] {
      border-color: #ff4949;
    }
  }
}
