.fenceTable {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  @media screen and (max-width: "479px") {
    grid-template-columns: 2fr 0px 1fr;
    font-size: 14px;
  }

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;

  &__cell {
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    padding-bottom: 10px;
    padding-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;

    gap: 5px;
  }

  &__priceDiscount {
    justify-content: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    & div:first-child {
      text-decoration: line-through;
    }
    & div:last-child {
      color: #fdbf50;
    }
  }

  &__price {
    justify-content: end;
  }

  &__count {
    justify-content: center;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: "479px") {
      visibility: hidden;
    }
  }
  &__countMobile {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0em;

    visibility: hidden;
    @media screen and (max-width: "479px") {
      visibility: visible;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }
  }

  &__description {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(145, 147, 153, 1);
  }

  &__header {
    padding-bottom: 10px;
  }

  &_center {
    justify-content: center;
  }
  &_end {
    justify-content: end;
  }

  &__resultPrice {
    padding-top: 15px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;

    grid-column: 2 / span 2;
    grid-row: 8 / 9;

    justify-self: flex-end;
  }

  &__result {
    padding-top: 15px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: right;

    grid-column: 1 / span 1;
    grid-row: 8 / 9;
    justify-self: flex-start;
  }

  &__imageContainer {
    width: 70px;
    height: 70px;
    background-color: rgba(249, 249, 249, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    padding: 10px;
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &_contain {
      background-size: contain;
    }
  }

  &__desc {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(34, 18, 45, 1);
  }

  &_mobileHidden {
    @media screen and (max-width: "479px") {
      visibility: hidden;
    }
  }
}
