<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.cdnfonts.com/css/open-sans" rel="stylesheet" />
    <link rel="stylesheet" href="css/fenceButton.css" />
    <link rel="stylesheet" href="css/fenceSection.css" />
    <link rel="stylesheet" href="css/fenceCalc.css" />
    <link rel="stylesheet" href="css/fenceRadio.css" />
    <link rel="stylesheet" href="css/fenceSelect.css" />
    <link rel="stylesheet" href="css/fenceTooltip.css" />
  </head>
  <body style="background-color: black">
    <div class="fenceCalc">
      <div class="fenceCalc_header1">Калькулятор забора</div>
      <div class="fenceCalc_header2">
        Рассчитайте вес и длину необходимого вам товара
      </div>
      <div class="fenceCalc_wrapper">
        <div class="fenceSection">
          <div class="fenceSection__header3">Тип забора</div>
          <fieldset class="fenceRadio">
            <div>
              <input
                type="radio"
                id="shtaketnik"
                name="fenceType"
                value="shtaketnik"
                checked
              />
              <label for="shtaketnik">Штакетник</label>
            </div>
            <div>
              <input
                type="radio"
                id="proflist"
                name="fenceType"
                value="proflist"
              />
              <label for="proflist">Профлист</label>
            </div>
          </fieldset>
          <div class="fenceSection__line"></div>
        </div>
        <div class="fenceSection">
          <div class="fenceSection__header3">Покрытие</div>
          <fieldset class="fenceRadio">
            <div>
              <input
                type="radio"
                id="oneSide"
                name="shtaketnikType"
                value="oneSide"
                checked
              />
              <label for="oneSide">Односторонний</label>
            </div>
            <div>
              <input
                type="radio"
                id="twoSide"
                name="shtaketnikType"
                value="twoSide"
              />
              <label for="twoSide">Двусторонний</label>
            </div>
          </fieldset>
          <div class="fenceSection__line"></div>
        </div>
        <div class="fenceSection">
          <div class="fenceSection__header3">Форма</div>
          <fieldset class="fenceRadio">
            <label class="fenceRadio_displayLine">
              <div class="fenceRadio__imageWrapper">
                <image
                  class="fenceRadio__image"
                  src="assets/shtaketnik_trapeze.png"
                />
              </div>
              <input type="radio" id="forms1" name="forms" value="forms1" />
              <div class="fenceRadio__info">
                <span class="fenceRadio__infoHeader">Trapeze</span>
                <span class="fenceRadio__infoText">ширина 1.15 м</span>
              </div>
            </label>
            <label class="fenceRadio_displayLine">
              <div class="fenceRadio__imageWrapper">
                <image
                  class="fenceRadio__image"
                  src="assets/shtaketnik_ellipse.png"
                />
              </div>
              <input type="radio" id="forms2" name="forms" value="forms2" />
              <div class="fenceRadio__info">
                <span class="fenceRadio__infoHeader">Ellipse</span>
                <span class="fenceRadio__infoText">ширина 1.15 м</span>
              </div>
            </label>
            <label class="fenceRadio_displayLine">
              <div class="fenceRadio__imageWrapper">
                <image
                  class="fenceRadio__image"
                  src="assets/shtaketnik_lane.png"
                />
              </div>
              <input type="radio" id="forms3" name="forms" value="forms3" />
              <div class="fenceRadio__info">
                <span class="fenceRadio__infoHeader">Lane</span>
                <span class="fenceRadio__infoText">ширина 1.15 м</span>
              </div>
            </label>
          </fieldset>
          <div class="fenceSection__line"></div>
          <!--  data-open="true" -->
          <div class="fenceSelect" data-selected>
            <div class="fenceSelect__header">
              <div class="fenceSelect__current" data-empty>
                <div class="fenceSelect__info">
                  <div>Штакетник металлический 0.4</div>
                  <div>Двусторонний мат</div>
                </div>
                <div class="fenceSelect__price">4.16 руб. <span>/ м</span></div>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="fenceSelect__toggler"
                width="13"
                height="16"
                viewBox="0 0 13 16"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.63687 6.635C9.75062 6.462 9.81824 6.241 9.81824 6C9.81824 5.448 9.46187 5 9.02278 5L4.25005 5C3.81096 5 3.4546 5.448 3.4546 6C3.4546 6.241 3.52221 6.462 3.63596 6.635L5.99369 10.589C6.13846 10.838 6.37233 11 6.63642 11C6.90051 11 7.13437 10.838 7.27915 10.589L9.63687 6.635Z"
                  fill="#333333"
                />
              </svg>
            </div>
            <!-- <div class="fenceSelect__body">
              <div class="fenceSelect__option" data-id>
                <div class="fenceSelect__noinfo">Не выбрано</div>
              </div>
              <div class="fenceSelect__option" data-id>
                <div class="fenceSelect__info">
                  <div>Штакетник металлический 0.4</div>
                  <div>Двусторонний мат</div>
                </div>
                <div class="fenceSelect__price">4.16 руб. <span>/ м</span></div>
              </div>
              <div class="fenceSelect__option" data-selected data-id>
                <div class="fenceSelect__info">
                  <div>Штакетник металлический 0.4</div>
                  <div>Двусторонний мат</div>
                </div>
                <div class="fenceSelect__price">4.16 руб. <span>/ м</span></div>
              </div>
              <div class="fenceSelect__option" data-id>
                <div class="fenceSelect__info">
                  <div>Штакетник металлический 0.4</div>
                  <div>Двусторонний мат</div>
                </div>
                <div class="fenceSelect__price">4.16 руб. <span>/ м</span></div>
              </div>
              <div class="fenceSelect__option" data-id>
                <div class="fenceSelect__info">
                  <div>Штакетник металлический 0.4</div>
                  <div>Двусторонний мат</div>
                </div>
                
                <div class="fenceSelect__price">4.16 руб. <span>/ м</span></div>
              </div>
            </div> -->
          </div>
        </div>

        <div class="fenceSection">
          <div class="fenceSection__header3">
            Столб
            <div class="tooltip">
              <svg
                class="tooltip__icon"
                width="22"
                height="23"
                viewBox="0 0 22 23"
                stroke="currentColor"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M11 21.5C16.5228 21.5 21 17.0228 21 11.5C21 5.97715 16.5228 1.5 11 1.5C5.47715 1.5 1 5.97715 1 11.5C1 17.0228 5.47715 21.5 11 21.5Z"
                  stroke="#FDBF50"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11 15.5V11.5"
                  stroke="#FDBF50"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11 8.5V7.5"
                  stroke="#FDBF50"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <div class="tooltip__details">
                Высота забора: 1 - 1.4 м = столб 2 м; 1.5 - 1.7 м = столб 2.4 м.
                При этом размере, от 6 м трубы (стандартный размер), остаются
                куски по 1.2, которые свариваются в нужный размер столба 2.4 м
                1.8 - 2.2 м = столб 3 м
              </div>
            </div>
          </div>
          <div class="fenceSection__line"></div>
        </div>
        <div class="fenceSection">
          <div class="fenceSection__header3">Балка</div>
          <div class="fenceSection__line"></div>
        </div>
        <div class="fenceSection">
          <div class="fenceSection__header3">Балка</div>
        </div>
        <div class="fenceSection">
          <div class="fenceSection__twoColumn">
            <div>
              <div class="fenceSection__header3">Длина, м.</div>
              <input
                class="fenceSection__input"
                type="text"
                name=""
                id=""
                placeholder="100"
              />
            </div>
            <div>
              <div class="fenceSection__header3">Высота, м.</div>
              <input
                class="fenceSection__input"
                type="text"
                name=""
                id=""
                placeholder="1.7"
              />
            </div>
          </div>
        </div>
        <div class="fenceButton">
          <a href="">Рассчитать</a>
        </div>
      </div>
    </div>
  </body>
</html>
